body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#game-container {
    display: grid;
    gap: 2px;
}
  
.cell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    cursor: pointer;
}
  
.cell.revealed {
    background-color: #fff;
}
  
.cell.flagged {
    background-color: #f00;
}
  